@model Mail

@{
    ViewData["Title"] = "Index";
}

<div class="page-title lb single-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2><i class="fa fa-envelope-open-o bg-orange"></i>İletişim</h2>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="row">
                        <div class="col-lg-5">
                            <h4>Bizimle iletişime geçmek ister misiniz?</h4>
                            <p>O halde hemen formu doldurun size ulaşalım.</p>
                        </div>
                        <div class="col-lg-7">
                            <form class="form-wrapper" method="post" asp-controller="Contact" asp-action="Index">
                                @Html.AntiForgeryToken()
                                <input asp-for="UserName" type="text" class="form-control" placeholder="İsim" required>
                                <input asp-for="Email" type="text" class="form-control" placeholder="Email" required>
                                <input asp-for="Subject" type="text" class="form-control" placeholder="Konu">
                                <textarea asp-for="Message" class="form-control" placeholder="Mesaj" required></textarea>
                                <submit class="btn btn-primary" value="Gönder"></submit>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>