
@{
    ViewData["Title"] = "Index";
}


<section class="section wb">
    <div class="container">
        <div class="my-2"></div>
        <h2 class="h2">Hakkımızda</h2>
        <hr />
        <p>
            Sizler için Dünya'da ve Türkiye'de olan biten her şeyi güvenli bir şekilde araştırıp sizlere
            en doğru haberleri ulaştırıyoruz.
        </p>
        <p>
            Yinelenen bir sayfa içeriğinin okuyucunun dikkatini dağıttığı bilinen bir gerçektir.
            Lorem Ipsum kullanmanın amacı, sürekli 'buraya metin gelecek, buraya metin gelecek' 
            yazmaya kıyasla daha dengeli bir harf dağılımı sağlayarak okunurluğu artırmasıdır. Şu
            anda birçok masaüstü yayıncılık paketi ve web sayfa düzenleyicisi, varsayılan mıgır metinler
            olarak Lorem Ipsum kullanmaktadır. Ayrıca arama motorlarında 'lorem ipsum' anahtar sözcükleri
            ile arama yapıldığında henüz tasarım aşamasında olan çok sayıda site listelenir. Yıllar içinde,
            bazen kazara, bazen bilinçli olarak (örneğin mizah katılarak), çeşitli sürümleri 
            geliştirilmiştir.
        </p>
    </div>
</section>